@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #ffffff;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

.time {
    font-size: 3em;
    margin-bottom: 20px;
}

.welcome-message {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.search-bar {
    margin-bottom: 20px;
}

input {
    padding: 8px;
    font-size: 1em;
}

button {
    padding: 8px 15px;
    font-size: 1em;
}

.category-cards {
    display: flex;
    justify-content: space-around;
}

.card {
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: left;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

a {
    display: block;
    margin-bottom: 8px;
    color: #00ff84;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
